<h1>Carrito {{cart._id}}</h1>

<ul>
  {{#each cart.products}}
    <li>
      {{this.product.title}} - ${{this.product.price}} x {{this.quantity}}
      <button onclick="removeFromCart('{{../cart._id}}','{{this.product._id}}')">Eliminar</button>
    </li>
  {{/each}}
</ul>

<button onclick="clearCart('{{cart._id}}')">Vaciar carrito</button>

<p><a href="/products">Seguir comprando</a></p>

<script src="/js/cart.js"></script>
